body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #000
}

#ring-container {
    position: relative;
    width: min(70vw, 520px);
    aspect-ratio: 1;
    margin: auto;
}

#ring {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

#ring-glow {
    position: absolute;
    inset: -9%;
    border-radius: 50%;

    transform: translateY(-9%) rotate(20deg) scaleY(0.60);
    transform-origin: center;

background: radial-gradient(
    ellipse,
    transparent 60%,
    rgba(255, 217, 0, 0.719),
    rgb(250, 0, 0),
    transparent 72%
);


    mix-blend-mode: screen;
    filter: blur(35px);
    z-index: 1;
}