body {
    margin: 0;
    min-height: 100%;
    background: #000;
    color: #050301;
    text-shadow:
    0 0 12px rgba(255, 140, 40, 0.753),
    0 0 4px rgba(255, 102, 0, 0.829);
}

html, body {
    min-height: 100%;
}

#ring-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(70vw, 520px);
    aspect-ratio: 1;
    z-index: -1;
    pointer-events: none;
}

#ring {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

#ring-glow {
    position: absolute;
    inset: -9%;
    border-radius: 50%;

    transform: translateY(-9%) rotate(20deg) scaleY(0.60);
    transform-origin: center;

    background: radial-gradient(
        ellipse,
        transparent 60%,
        rgba(255, 217, 0, 0.719),
        rgb(250, 0, 0),
        transparent 72%
);


    mix-blend-mode: screen;
    filter: blur(35px);
    z-index: 1;
};

.headings {
    text-align: center;
};